@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  background-color: #212121;
}

body {
  width: 1024px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 80px;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 48px;
  text-align: center;
  color: #F2F2F2;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.grid-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  flex: 1;
}

.grid-container {
  flex:1;
}

.tool-bar {
flex: 0 0 110px
}

.tool-bar,
.grid-bar,
.grid-container {
  background-color: #f2f2f2;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0px 1px 0px 1px rgba(230, 230, 230, .1);
}

.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.color-pen-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pen,
#color-picker {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0px 1px 0px 1px rgba(33, 33, 33, .3);
  cursor: pointer;
  background-color: #fff;
}

#rainbow-pen img {
  margin-top: 10px;
}

.grid-bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='number'] {
  background-color: #fff;
  color: #7F7F7F;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: 0px 1px 0px 1px rgba(33, 33, 33, .3);
}

.grid-container {
  display: flex;
}

.grid {
  border-radius: 4px;
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #f2f2f2;
}

.row {
  flex: 1;
  display: flex;
}

.cell {
  flex: 1;
  border: 1px #ccc solid;
}

#size-btn,
.reset-btn {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 1px 0px 1px rgba(33, 33, 33, .3);
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

#size-btn {
  margin-left: 10px;
  background-color: #1468C9;
}

.reset-btn {
  background-color: #F06060;
}

.display-size {
  color: #212121;
  font-weight: bold;
  border: 1px solid #333;
  box-shadow: 0px 1px 0px 1px rgba(33, 33, 33, .3);
  padding: 6px 18px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 0px 1px rgba(33, 33, 33, .3);
  color: #1468C9;
}


.footer {
  margin-bottom: 30px;
  color: #f2f2f2;
  text-align: center;
}

.footer a {
  color: #1468C9;
}
